<h2><%= @ticket.name %></h2>
<p><%= @ticket.body %></p>
<p>
  <strong>Tags:</strong>
  <%= @ticket.tags.any? ? @ticket.tags.map(&:name).join(', ') : 'None' %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %>

<table>
  <tr>
    <th>Project</th>
    <th>Status</th>
    <th>Creator</th>
    <th>Assignee</th>
  </tr>
  <tr>
    <td><%= @ticket.project.title %></td>
    <td><%= @ticket.status %></td>
    <td><%= @ticket.creator.name %></td>
    <td><%= @ticket.assignee.present? ? @ticket.assignee.name : '-' %></td>
  </tr>
</table>

<%= link_to 'Back to all tickets', tickets_path %>

<h2>Comments</h2>

<% @ticket.comments.each do |c| %>
  <%= render 'comments/comment', comment: c %>
<% end %>

<br />
<hr />

<%= render 'comments/form', comment: Comment.new %>


