<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Delete', project_path(@project), method: 'delete', data: { confirm: 'Are you sure?' } %>

<h2>Tickets</h1>
<%= render 'tickets/tickets_table', tickets: @project.tickets %>

 <%= link_to 'Back', root_path %>