<div>
  <h3>Ticketing App</h3>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'Tickets', tickets_path %>
  <%= link_to 'Tags', tags_path %>
  <span> --- </span>

  <span>
    <% if logged_in? %>
      Signed in as <%= current_user.name %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
      or
      <%= link_to 'Signup', signup_path %>
    <% end %>
  </span>

</div>